<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with movie icon">
            <mat-icon>movie</mat-icon>
        </button>
        <span>Booking Ticket</span>
        <span class="example-spacer" style="flex-grow:1"></span>
        <button routerLinkActive="active" routerLink="" mat-button [routerLinkActiveOptions]="{exact:true}">
            Home
        </button>
        <button routerLinkActive="active" routerLink="/signin" mat-button>
            Sign In
        </button>
        <button routerLinkActive="active" routerLink="/signup" mat-button>
            Sign Up
        </button>
    </mat-toolbar>
</p>